<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.zerock.goods.mapper.GoodsMapper">
  	<!-- 상품 리스트 -->
  	<select id="list" resultType="org.zerock.goods.vo.GoodsVO">
  		select
	  		goods_no, goods_name, price, discount,
	  		discount_rate, saved_rate, image_name
  		from
  		(
	  		select
	  			rownum rnum, goods_no, goods_name, price, discount,
	  			discount_rate, saved_rate, image_name
	  		from
		  	(
		  		select
		  			g.goods_no, g.goods_name, p.price, p.discount,
		  			p.discount_rate, p.saved_rate, g.image_name
		  		from
		  			goods g, goods_price p
		  		where
		  		(
		  			<!-- 일반조건 -->
		  			<!-- 현재 판매되고 있는 상품 -->
		  			<!-- 아래 CDATA를 사용한 태그는 안에 내용이 문자열로 DB서버에 전달 -->
		  			<![CDATA[
		  			sale_start_date <= trunc(sysDate) and
		  			trunc(sysDate) <= sale_end_date
		  			]]>
		  		)
		  		and
		  		(
		  			<!-- 조인 조건 -->
		  			g.goods_no = p.goods_no
		  		)
		  	)
	  	)
	  	where rnum between #{startRow} and #{endRow}
  	</select>
  	
  	<!-- 페이지 처리를 위한 getTotalRow -->
  	<select id="getTotalRow" resultType="Long">
  		select count(*)
  		from goods g, goods_price p
  		where
  		(
		  	<!-- 일반조건 -->
		  	<!-- 현재 판매되고 있는 상품 -->
		  	<!-- 아래 CDATA를 사용한 태그는 안에 내용이 문자열로 DB서버에 전달 -->
		  	<![CDATA[
		  	sale_start_date <= trunc(sysDate) and
		  	trunc(sysDate) <= sale_end_date
		  	]]>
		)
		and
		(
			<!-- 조인 조건 -->
			g.goods_no = p.goods_no
		)
  	</select>
  	
  	<!-- 대분류/중분류 가져오기 -->
  	<select id="getCategory" resultType="org.zerock.category.vo.CategoryVO">
  		select
  			cate_code1, cate_code2, cate_name
  		from
  			category
  		where
  			<!-- 대분류 조건 -->
  			<if test="cate_code1 == 0">
  				cate_code2 = 0
  			</if>
  			<!-- 중분류 조건 -->
  			<if test="cate_code1 > 0">
  				cate_code1 = #{cate_code1} and cate_code2 != 0
  			</if>
  	</select>
  	
  	<!-- 1. 상품 등록 -->
  	<insert id="write">
  		insert into goods
  			(goods_no, goods_name,
  			cate_code1, cate_code2, image_name,
  			content, company, product_date)
  		values
	  		(goods_seq.nextval, #{goods_name}, #{cate_code1},
	  		#{cate_code2}, #{image_name}, #{content},
	  		#{company}, #{product_date})
  	</insert>
	<!-- 등록된 상품 번호 가져오기 -->
	<select id="getGoodsNo" resultType="Long">
		select max(goods_no) from goods
	</select>
	<!-- 가격 정보 등록 -->
	<insert id="writePrice">
		insert into goods_price
			(goods_price_no, price,
			discount, discount_rate, saved_rate, delivery_charge,
			sale_start_date, sale_end_date, goods_no)
		values
			(goods_price_seq.nextval, #{price},
			#{discount}, #{discount_rate}, #{saved_rate}, #{delivery_charge},
			#{sale_start_date}, #{sale_end_date}, #{goods_no})
	</insert>
	<!-- 추가 이미지 등록 -->
	<insert id="writeImage">
		insert into goods_image
			(goods_image_no, image_name, goods_no)
		values
			(goods_image_seq.nextval, #{image_name}, #{goods_no})
	</insert>
	<insert id="writeSize">
		insert into goods_size
			(goods_size_no, size_name, goods_no)
		values
			(goods_size_seq.nextval, #{size_name}, #{goods_no})
	</insert>
	<insert id="writeColor">
		insert into goods_color
			(goods_color_no, color_name, goods_no)
		values
			(goods_color_seq.nextval, #{color_name}, #{goods_no})
	</insert>
	
	
	
  </mapper>
  
  
  
  
  
  